/* :root {
    --font-heading: 'Alegreya Sans', sans-serif;
    --font-paragraph: 'Source Code Pro', sans-serif;
    --blue: rgb(44, 117, 255);
    --blue100: rgba(44, 117, 255, .4);
    --blue200: rgba(44, 117, 255, .1);
    --space-big: 32px;
} */

::selection {
    background: rgba(44, 117, 255, .2); /* WebKit/Blink Browsers */
  }
::-moz-selection {
background: rgba(44, 117, 255, .2); /* Gecko Browsers */
}

/* .dark {
    --dark: rgb(20, 20, 20);
    --dark100: rgba(0, 0, 0, .6);
    --dark200: rgba(0, 0, 0, .4);
    --dark300: rgba(0, 0, 0, .15);
    --dark400: rgba(0, 0, 0, .075);
    --light: rgb(255, 255, 255);
    --light100: rgba(255, 255, 255, .6);
    --light200: rgba(255, 255, 255, .4);
    --light300: rgba(255, 255, 255, .15);
    --light400: rgba(255, 255, 255, .075);
    --light-s-300: #262626;
    --light-s-400: #131313;
}

.light {
    --light: rgb(20, 20, 20);
    --light100: rgba(0, 0, 0, .6);
    --light200: rgba(0, 0, 0, .4);
    --light300: rgba(0, 0, 0, .15);
    --light400: rgba(0, 0, 0, .075);
    --dark: rgb(255, 255, 255);
    --dark100: rgba(255, 255, 255, .6);
    --dark200: rgba(255, 255, 255, .4);
    --dark300: rgba(255, 255, 255, .15);
    --dark400: rgba(255, 255, 255, .075);
    --light-s-300: #d9d9d9;
    --light-s-400: #ececec;
}
 */
.app {
    background-color: black;
    height: 100vh;
    width: 100%;
}
